<!DOCTYPE html>
<html>
  <head>
    <title>Possible Disease</title>
  </head>
  <body>
    <h1>Possible Disease:</h1>

    <form action="/treatment_plan" method="post">
      <% for (let i = 0; i < diseases.length; i++) { %>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="disease_<%= i %>" name="diseases[]" value="<%= diseases[i].name %>" />
        <label class="form-check-label" for="disease_<%= i %>">
          <strong> <%= diseases[i].disease_idd%>: <%= diseases[i].name %> </strong>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cause: <%= diseases[i].cause %></p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Risk Factor: <%= diseases[i].risk_factor %></p>
        </label>
      </div>
      <% } %>

      <button type="submit" class="btn btn-primary">Treatment_plan</button>
    </form>
  </body>
</html>
